.country-details-container {
  display: grid;
  row-gap: 2.5rem;
}

.country-flag-image-container {
  max-width: 35.9375rem;
}

.country-details-img {
  width: 100%;
  height: 100%;
}

.country-details-text-container {
  transition: all 0.4s;
}

.country-details-text-container > :first-child {
  font-size: 1.25rem;
  font-weight: var(--fw-extra-bold);
  margin-bottom: 0.75rem;
}

.country-details-wrapper {
  display: grid;
  row-gap: 2rem;
}

.language-item:not(:last-child)::after {
  content: ', ';
}

.main-country-details-wrapper > p > strong,
.secondary-country-details-wrapper > p > strong,
.borders-wrapper > strong:first-child {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
}

.main-country-details-wrapper > p > strong::after,
.secondary-country-details-wrapper > p > strong::after {
  content: ' ';
}

.borders-wrapper {
  margin-top: 2rem;
}

.borders-wrapper > strong:first-child {
  display: block;
  margin-bottom: 1rem;
}

.borders-names-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.border-country-link {
  display: inline-block;
  font-size: var(--home-page-fs);
  background-color: var(--element-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.4s;
}

.border-country-link:focus,
.border-country-link:hover {
  scale: 1.1;
}

@media (min-width: 63.9688rem) {
  .country-details-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
  }

  .country-details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
