.page-header {
  padding: 2.25rem 1rem;
  background-color: var(--element-color);
  transition: all 0.4s;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-heading {
  font-size: var(--home-page-fs);
}

.theme-switch-btn {
  color: inherit;
  border: none;
  background-color: unset;
  transition: all 0.4s;
}

.theme-switch-btn:hover,
.theme-switch-btn:focus {
  cursor: pointer;
  scale: 1.25;
}
