.countries-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 20.3125rem));
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  margin-top: 2.5rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}
